network:
  version: "{{ netplan_network.version }}"
{% if  netplan_network['ethernets'] %}
  ethernets:
{% for ethernet in netplan_network['ethernets'] %}
    {{ ethernet.name }}:
      dhcp4: {{ ethernet.dhcp4 | default(false) }}
      dhcp6: {{ ethernet.dhcp6 | default(false) }}
{% endfor %}
{% endif %}
{% if netplan_network.bonds is defined %}
  bonds:
{% for bond in netplan_network.bonds %}
    {{ bond.name }}:
      dhcp4: {{ bond.dhcp4 | default(false) }}
      dhcp6: {{ bond.dhcp6 | default(false) }}
      interfaces: {{ bond.interfaces }}
      parameters:
        mode: {{ bond.parameters.mode }}
{% endfor %}
{% endif %}
{% if netplan_network.bridges is defined %}
  bridges:
{% for bridge in netplan_network.bridges %}
    {{ bridge.name }}:
      dhcp4: {{ bridge.dhcp4 | default(false) }}
      dhcp6: {{ bridge.dhcp6 | default(false) }}
      optional: {{ bridge.optional }}
      interfaces: {{ bridge.interfaces }}
      addresses: {{ bridge.addresses }}
      gateway4: {{ bridge.gateway4 }}
      nameservers:
        search: {{ bridge.nameservers.search }}
        addresses: {{ bridge.nameservers.addresses }}

{% endfor %}
{% endif %}
