# my global config
global:
  scrape_interval:     15s # Set the scrape interval to every 15 seconds. Default is every 1 minute.
  evaluation_interval: 15s # Evaluate rules every 15 seconds. The default is every 1 minute.
  # scrape_timeout is set to the global default (10s).

# Alertmanager configuration
alerting:
  alertmanagers:
  - static_configs:
    - targets:
      # - alertmanager:9093

# Load rules once and periodically evaluate them according to the global 'evaluation_interval'.
rule_files:
  # - "first_rules.yml"
  # - "second_rules.yml"

# A scrape configuration containing exactly one endpoint to scrape:
scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

#  - job_name: 'dnas node exporter'
#    static_configs:
#      - targets: ['dnas.local:9100']

  - job_name: 'traefik'
    static_configs:
      - targets: ['traefik:8080']

  - job_name: 'leviathian node exporter'
    static_configs:
      - targets: ['leviathian.local:9100']

  - job_name: 'earthdiver node exporter'
    static_configs:
      - targets: ['earthdiver.local:9100']

#  - job_name: 'bastion node exporter'
#    static_configs:
#      - targets: ['bastion.local:9100']

  - job_name: 'dnode0 node exporter'
    static_configs:
      - targets: ['dnode0.local:9100']

  - job_name: 'gitlab-runners node exporter'
    static_configs:
      - targets: ['gitlab-runners.local:9100']

  - job_name: 'lemnos node exporter'
    static_configs:
      - targets: ['lemnos.local:9100']

#  - job_name: 'Boltzmann node exporter'
#    static_configs:
#      - targets: ['boltzmann.local:9100']