[Unit]
Description=UPC Exporter
Wants=network-online.target
After=network-online.target apcupsd.service

[Service]
User=apcupsd_exporter
Group=apcupsd_exporter
Type=simple
ExecStartPre=/bin/sh -c "while ! nc -z localhost 3551 </dev/null; do sleep 10; done"
ExecStart=/usr/local/bin/apcupsd_exporter

[Install]
WantedBy=multi-user.target