apiVersion: 1
# list of datasources to insert/update depending
# whats available in the database
datasources:
- name: Prometheus
  type: prometheus
  access: proxy
  orgId: 1
  url: http://prometheus:9090
  isDefault: true
  jsonData:
     tlsSkipVerify: true

#- name: Postgres
#  type: postgres
#  access: direct
#  orgId: 1
#  url: postgres:5432
#  sslmode: disabled
#  secureJsonData:
#      user: "{{POSTGRES_ADMIN_USERNAME}}"
#      password: "{{POSTGRES_ADMIN_PASSWORD}}"
